@using UtilityComplaints.WebUI.Resources;

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-5">
    <div class="jumbotron">

        <h3>Utility Complaints</h3>
        <div class="panel panel-default">
            <p>
                <a class="btn btn-primary" asp-controller="Complaints" asp-action="Create">@localizer["Createcomplaint"]</a>
            </p>

            <!--div class="panel-heading" id="headingTwo">
                <span>Тут будуть Фільтри</span>

            </div-->

            <div class="panel-body">

                <!--RenderAction Filter Complaints-->

            </div>

        </div>
    </div>
</div>

<div class="col-md-7">
    <div id="map" style="height: 500px;">
    </div>
</div>


@section Scripts {

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.min.css" integrity="sha512-ENrTWqddXrLJsQS2A86QmvA17PkJ0GVm1bqj5aTgpeMAfDKN2+SIOLpKG8R/6KkimnhTb+VW5qqUHB/r1zaRgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js" integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--address geocoding-->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.css" crossorigin="" />
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js" crossorigin=""></script>

    <script src="~/js/UCmap.js"></script>



}