@{
    ViewData["Title"] = "Home Page";
}


<div class="col-md-5">
    <div class="jumbotron">

        <h3>Utility Complaints</h3>
        <div class="panel panel-default">
            <div class="panel-heading" id="headingTwo">
                <span>Фільтри</span>

            </div>

            <div class="panel-body">

                RenderAction Filter fields

            </div>

        </div>
    </div>
</div>

<div class="col-md-7">
    <div id="map">
    </div>
</div>
